* { box-sizing: border-box }

body {
    background-color: #AFBFDC;
    color: #171A1C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.theme-picker {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 10px;
}

.theme {
    width: 80px;
    height: 30px;
    border: 1px solid white;
    margin: 3px;
    cursor: pointer;
    background-color: white;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark {
    background-image: -webkit-linear-gradient(60deg, 
            #EE682A 50%, #060809 50%);
}

#light {
    background-image: -webkit-linear-gradient(60deg, 
            #F9F0AF 50%, #AFBFDC 50%);
    color: black;
    border: 1px solid black;
}

.wlcm {
    font-size: 20px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.widgets {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

.widget {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: #F9F0AF;
    width: 100%;
    margin: 10px;
    align-items: center;
    height: 100%;
    flex: 1;
    box-shadow: 5px 5px #F0A979;
}

.widget .title {
    font-size: 18px;
    margin: 5px;
    margin-bottom: 10px;
}

.widget .setting {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Righteous', cursive;
}

#vk_auth {
    background-color: #45668e;
    border: 1px solid black;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#test_speech {
    background-color: #F0A979;
    border: none;
    padding: 10px;
    width: 70%;
    color: white;
    cursor: pointer;
}

#audio {
    width: 80%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

#current_track {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.marquee {
    margin: 10px;
    width: 90%;
    overflow: hidden;
    border: 1px solid black;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #434343;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #EE682A;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: #EE682A;
    cursor: pointer;
}

